*{
    margin:0px;
    padding:0px;
}

main{
    min-height:100vh;
    margin:10px;

}
/* ******************************* MOBILE *************************** */
@media (min-width:200px) and (max-width:500px){
    header{
    height:55px;
    box-sizing:border-box;
    background-color: bisque;
    margin:0px;
    padding-top:5px;
    }
    .header-container{
        height:45px;
        margin-top:0px;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
    }
    img{
        mix-blend-mode:multiply;
    }
    .header-menu-desktop{
        display:none;
    }
    .header-logo{
        display:none;
    }
    .header-menu{
        width:15%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-menu>img{
        height:80%;
        width:60%;
    }
    .header-search{
        width:50%;
        height:80%;
        border:solid 1px black;
        border-radius:10px;
        display:flex;
        align-items:center;
    }
    .header-search>input{
        width:80%;
        height:100%;
        padding:5%;
        border:none;
        font-size: 105%;
        border-top-left-radius:10px;
        border-bottom-left-radius:10px;
    }
    .header-search>input:focus{
        border:none;
        outline:none;
    }
    .header-search>button{
        width:20%;
        height:100%;
        border:none;
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
    }
    .header-search>button>img{
        width:100%;
        height:100%;
    }
    .header-cart{
        width:10%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-cart>img{
        height:70%;
        width:75%;
    }
    .header-profile{
        width:13%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-profile>img{
        height:70%;
        width:100%;
    }
    .grid-layout{
        width:90%;
        margin:auto;
        display:grid;
        grid-template-columns:auto auto auto;
        row-gap:6px;
        column-gap:2%;
        background-color:none;
    }
    
    .grid-layout>a{
        background-color:none;
        border:solid 1px black;
    }
    .grid-layout>a>img{
        width:100%;
        height:100%;
    }
}
/* ***************************** TABLET ************************* */
@media (min-width:501px) and (max-width:1000px){
    header{
        height:75px;
        box-sizing:border-box;
        background-color: bisque;
        margin:0px;
        padding-top:5px;
    }
    .header-container{
        height:60px;
        margin-top:3px;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
    }
    img{
        mix-blend-mode:multiply;
    }
    .header-menu-desktop{
        display:none;
    }
    .header-logo{
        display:none;
    }
    .header-menu{
        width:15%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-menu>img{
        width:50%;
        height:90%;
    }
    .header-search{
        width:50%;
        height:85%;
        border:solid 1px black;
        border-radius:15px;
        display:flex;
        align-items:center;
    }
    .header-search>input{
        width:85%;
        height:100%;
        padding:4%;
        border:none;
        font-size:110%;
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
    }
    .header-search>input:focus{
        border:none;
        outline:none;
    }
    .header-search>button{
        width:15%;
        height:100%;
        border:none;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
    }
    .header-search>button>img{
        width:95%;
        height:100%;
    }
    .header-cart{
        width:10%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-cart>img{
        width:70%;
        height:80%;
    }
    .header-profile{
        width:13%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-profile>img{
        width:80%;
        height:80%;
    }
    .grid-layout{
        width:90%;
        margin:auto;
        display:grid;
        grid-template-columns:auto auto auto;
        row-gap:2%;
        column-gap:3%;
        background-color:none;
    }
    
    .grid-layout>a{
        background-color:none;
        border:solid 1px black;
    }
    .grid-layout>a>img{
        width:100%;
        height:100%;
    }
}

/* ************************ DESKTOP ************************ */
@media (min-width:1001px) and (max-width:1500px){
    header{
        height:65px;
        box-sizing:border-box;
        background-color: bisque;
        margin:0px;
        padding-top:5px;
    }
    .header-container{
        height:50px;
        margin-top:3px;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
    }
    img{
        mix-blend-mode:multiply;
    }
    .header-logo{
        width:10%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-logo>span{
        font-weight:bold;
        font-size:120%;       
    }
    .header-menu{
        display:none;
    }
    .header-menu-desktop{
        width:30%;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
    }
    .header-search{
        width:40%;
        height:80%;
        border:solid 1px black;
        border-radius:8px;
        display:flex;
        align-items:center;
    }
    .header-search>input{
        width:90%;
        height:100%;
        padding:4%;
        border:none;
        font-size:100%;
        border-top-left-radius:8px;
        border-bottom-left-radius:8px;
    }
    .header-search>input:focus{
        border:none;
        outline:none;
    }
    .header-search>button{
        width:10%;
        height:100%;
        border:none;
        border-top-right-radius:8px;
        border-bottom-right-radius:8px;
    }
    .header-search>button>img{
        width:95%;
        height:100%;
    }
    .header-cart{
        width:5%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-cart>img{
        width:70%;
        height:80%;
    }
    .header-profile{
        width:5%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .header-profile>img{
        width:90%;
        height:70%;
    }
    .grid-layout{
        width:90%;
        margin:auto;
        display:grid;
        grid-template-columns:auto auto auto;
        row-gap:2%;
        column-gap:3%;
        background-color:none;
    }
    
    .grid-layout>a{
        background-color:none;
        border:solid 1px black;
    }
    .grid-layout>a>img{
        width:100%;
        height:100%;
    }
}